---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projects: { desc: string; href: string; title: string }[] = [
	{
		desc: "Open Source alternative to Percy, Chromatic, and Applitools.",
		href: "https://lost-pixel.com",
		title: "Lost Pixel",
	},
	{
		desc: "Open Source SaaS starter kit",
		href: "https://cascade.stackonfire.com",
		title: "Cascade | StackOnFire",
	},
	{
		desc: "AI-powered language learning platform.",
		href: "https://fluendo.ai",
		title: "Fluendo.ai",
	},
	{
		desc: "Twitter anlaytics and scheduler that I sold in 2019.",
		href: "https://twitter.com/fyrereach?lang=en",
		title: "Tweetastic(aquired)",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hey friends!</h1>
		<p class="mb-4">
			My name is Dima, I am software engineer and creator currently living in Vienna, Austria 🇦🇹. I
			am passionate about open-source, AI, and building products that make a difference.
		</p>
		<p class="mb-4">
			In this blog I write about hacking with modern AI tools, and my journey as an bootstrap
			founder.
		</p>

		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<dl class="space-y-4">
			{
				projects.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
